<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<style>
    table, th, td, h1 {
        border: 1px solid black;
        border-collapse: inherit;
        margin-left: auto;
        margin-right: auto
    }
</style>

<body>
<h1 th:text="'List of Owners'">List of Owners... </h1>

<table style="background: aqua">

    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>

    <tbody>
    <tr th:each="owner:${owners}">

        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">Joe</td>
        <td th:text="${owner.lastName}">Buck</td>

    </tr>
    </tbody>

</table>
</body>
</html>